
# Python
__pycache__/
*.pyc
.venv/
.env 
env
venv
dashboard/secrets/results/
dashboard/secrets/results/vinted_empfehlungen.json
dashboard/secrets/results/vinted_ergebnisse.json
node_modules
datascienceprojekt.egg-info
 
# Debug
debug.png
debug_vinted.html

database/

.DS_Store
dashboard/secrets/*.json
dashboard/secrets/results/*.json
playground-2.mongodb.js