
# Python
__pycache__/
*.pyc
.venv/
.env 
env
venv
dashboard/secrets/results/
dashboard/secrets/results/empfehlungen.json
dashboard/secrets/results/ergebnisse.json
node_modules
datascienceprojekt.egg-info

# Debug
debug.png
debug_vinted.html


.DS_Store
dashboard/secrets/*.json
dashboard/secrets/results/*.json
playground-2.mongodb.jsö

src_ebay/ebay_ids.py

.idea
.pytest_cache